<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- bootstrap -->
  <link rel="stylesheet" href="../../style/bootstrap.css">
  <!-- style -->
  <link rel="stylesheet" href="../../style/style.css">
  <link rel="stylesheet" href="../../style/history.css">
</head>
<body>
    <!-- navbar -->
    <header>
      <nav class="navbar navbar-1 fixed-top d-flex justify-content-center">
        <div class="container">
          <div class="row d-xl-flex d-md-flex d-none w-100 justify-content-between">
            <div class="col-xl-1 col-md-2">
              <div class="navbar-logo"><img class="img-fluid" src="../../img/Logo.png" alt=""></div>
            </div>
            <div class="col-xl-5 col-md-8 d-flex justify-content-end align-items-end">
              <div class="navbar-links">
                <ul class="d-flex gap-4">
                  <li><a class="text-decoration-none text-black" href="#">About</a></li>
                  <li><a class="text-decoration-none" href="#">Services</a></li>
                  <li><a class="text-decoration-none" href="#">Projects</a></li>
                  <li><a class="text-decoration-none" href="#">Team</a></li>
                  <li><a class="text-decoration-none" href="#">Blog</a></li>
                </ul>
              </div>
            </div>
          </div>
          <a class="navbar-brand d-xl-none d-md-none d-flex" href="#"><img src="../../img/Logo.png" alt=""></a>
          <button class="navbar-toggler d-xl-none d-md-none d-flex" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
        <div class="line"></div>
      </nav>
    </header>
    <!-- navbar end -->   
    <!-- header -->
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-3">
            
          </div>
        </div>
      </div>
    </div>
    <!-- header end -->
</body>
<!-- bootstrapjs -->
<script src="../../javaScript/bootstrap.bundle.min.js"></script>
<!-- javaScript -->
<script src="../../javaScript/main.js"></script>
</html>